@font-face {
    font-family: 'Digital-7';
    src: url('digital-7.regular.ttf');
}

.root {
}

.div {
    position: relative;
    margin: auto;
    -fx-padding: 0;
    width: 350px;
    box-shadow: 5px 5px 15px 3px;
}

.labelVar{
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #ffc42f 0%, #ffaf34 100%),
        #ffaf34,
        #ffd868,
        radial-gradient(center 50% 50%, radius 100%, #ffd166, #ffd868);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,1,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em; 
}

.combo {
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #ffc42f 0%, #ffaf34 100%),
        #ffaf34,
        #ffd868,
        radial-gradient(center 50% 50%, radius 100%, #ffd166, #ffd868);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em; 
}

.combo:pressed  {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #aa4a1a 0%, #971319 100%),
        #95472b,
        #de6631,
        radial-gradient(center 50% 50%, radius 100%, #e17645, #cc4424);
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
    -fx-padding: 4 0 0 0;
}

.combo:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);    
}

.display {
    -fx-font-family: 'Digital-7';
    text-align: right;
    -fx-text-alignment: right;
    -fx-font-size: 2em;
    min-height: 1.2em;
    margin-left: 0.5em;    
    display: table;
    width: 85%;
    -fx-background-color:
        radial-gradient(focus-angle 45deg, focus-distance 100%, center 50% 50%, radius 100%, #becd94, #6b785d);            
    -fx-effect: innershadow( one-pass-box , rgba(0,0,0,0.55) , 10,0,2,4 );    
    
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: #003d11;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.minidisplay {
    -fx-font-family: 'Digital-7';
    -fx-font-size: 2em;
    min-height: 1.2em;
    margin-left: 0.5em;    
    display: table;
    width: 85%;
    -fx-background-color:
        radial-gradient(focus-angle 45deg, focus-distance 100%, center 50% 50%, radius 100%, #becd94, #6b785d);            
    -fx-effect: innershadow( one-pass-box , rgba(0,0,0,0.55) , 10,0,2,4 );    
    
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: #003d11;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.buttonB {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #142c41 0%, #141F3D 100%),
        #141F3D,
        #26547c,
        radial-gradient(center 50% 50%, radius 100%, #26547c , #264b88);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;    
}

.buttonY {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #ffc42f 0%, #ffaf34 100%),
        #ffaf34,
        #ffd868,
        radial-gradient(center 50% 50%, radius 100%, #ffd166, #ffd868);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;    
}

.buttonYlong {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #ffc42f 0%, #ffaf34 100%),
        #ffaf34,
        #ffd868,
        radial-gradient(center 50% 50%, radius 100%, #ffd166, #ffd868);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 0.9em;    
}

.buttonYCust {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #ffc42f 0%, #ffaf34 100%),
        #ffaf34,
        #ffd868,
        radial-gradient(center 50% 50%, radius 100%, #ffd166, #ffd868);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 0.9em;    
}
/*
.clalcbutton {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #919191 0%, #787573 100%),
        #918b89,
        #d6cec9,
        radial-gradient(center 50% 50%, radius 100%, #d6cec9, #bfb9b8);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    
}*/

buttonYCust:hover,.buttonY:hover,.buttonB:hover,.buttonYlong:hover,.buttonYCust:hover{
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}
buttonYCust:pressed,.buttonY:pressed,.buttonB:pressed,.buttonYlong:pressed,.buttonYCust:pressed{
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #aa4a1a 0%, #971319 100%),
        #95472b,
        #de6631,
        radial-gradient(center 50% 50%, radius 100%, #e17645, #cc4424);
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

.table-view {
    -fx-background-color: linear-gradient(to bottom, #ffd166, #ffd868);
    -fx-background-radius: 8;
}

.table-view .column-header {
    -fx-background-color: #ffc42f;
    -fx-border-color: #ffaf34;
    -fx-border-radius: 8 8 0 0;
    -fx-background-radius: 8 8 0 0;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}

/*
.table-row-cell: hover {
    -fx-background-color: #eb9c23;
    -fx-text-background-color: red;
}
*/

.table-row-cell: odd{
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell: even{
    -fx-background-color: #1dbbdd11;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #ffd868, #ffd166);
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #ffd868, #ffd166);
}
